body{
    background-color: aqua;
}
.submit:hover {
    background-color: rgb(255, 192, 203);
}
.form{
    background-color: rgb(255, 223, 255);
    width: 200px;
    height: auto;
    padding: 3px;
    margin: 5px;
    border: 2px solid black;
    border-radius:20px;
}
.form-label {
    border-radius: 20px;
}